<h1>Download Excel sheets</h1>
<div class="container form-group">
	<div class="row">
		<div class="col-xs-2">
			<label class="radio-inline">
				<input type="radio" name="selectType" id="radio" [(ngModel)]="selectType" value ='purchase' checked>Purchase
			</label>
			<label class="radio-inline">
				<input type="radio" name="selectType" id="radio" [(ngModel)]="selectType" value ='sales'>Sales
			</label>
		</div>
		<div class="col-xs-2" *ngIf="selectType === 'sales'">
			<label class="radio-inline">
				<input type="radio" name="gstType" id="radio" [(ngModel)]="gstType" value ='1' checked>GST 1
			</label>
			<label class="radio-inline">
				<input type="radio" name="gstType" id="radio" [(ngModel)]="gstType" value ='3'>GST 3
			</label>
		</div>
	</div>
</div>
<div class="container" *ngIf = "selectType">
	<div class="row">
		<div class="form-group col-xs-2">
			<label for="date">From Date:</label>
			<input type="date" class="form-control" style="width:280px;" [(ngModel)]="fromDate" name="date" placeholder="Enter From Date">
		</div>
			<div class="form-group col-xs-2">
				<label for="date">To Date:</label>
				<input type="date" class="form-control" style="width:280px;" [(ngModel)]="toDate" name="date" placeholder="Enter To Date">
		</div>
		<div class="form-group col-xs-2">
			<label for="name">Name of the Excel:</label>
			<input id="filename" type="text" [(ngModel)] = "filename" class="form-control" placeholder="Enter Name" required>
		</div>
		<div class="form-group col-xs-2">
			<div>
				<input type="radio" name="option" id="radio" [(ngModel)]="percent" value ='12'>
				<label for="12">12%</label>
			</div>
			<div>
				<input type="radio" name="option" id="radio" [(ngModel)]="percent" value ='18'>
				<label for="18">18%</label>
			</div>
		</div>
		<div class="form-group col-xs-3">
			<button class="btn btn-link col-xs-1" (click)='getData()'>Show</button>
			<button class="btn btn-success col-xs-1" (click)='onBtnExport()'>Download Excel</button>
		</div>
	</div>
	<div class="container" *ngIf="rowData">
		<ag-grid-angular #agGrid style="width: 100%; height:400px" class="ag-theme-balham" [rowData]="rowData" [columnDefs]="columnDefs" (gridReady)="onGridReady($event)">
		</ag-grid-angular>
	</div>
