<h1>Download Excel sheets</h1>

<button class="btn btn-success" (click)="download('PURCHASE','18')">Purchase 18%</button>
<button class="btn btn-success" (click)="download('PURCHASE','12')">Purchase 12%</button>

<button class="btn btn-info" (click)="download('SALE GST 1','18')">Sale GST 1 18%</button>
<button class="btn btn-info" (click)="download('SALE GST 1','12')">Sale GST 1 12%</button>

<button class="btn btn-warning" (click)="download('SALE GST 3','18')">Sale GST 3 18%</button>
<button class="btn btn-warning" (click)="download('SALE GST 3','12')">Sale GST 3 12%</button>
