body, html {
  height: 100%;
}

h1 {
  font-weight: 150;
  font-family: 'Ultra', sans-serif;
  font-size: 50px;
  text-shadow: 0 2px white, 0 3px #777;
  text-align: center;
}

.container {
  margin-top: 20px;
  text-align: center;
}

.row {
  display: inline-block;
  padding: 25px;
}
