<h1>AKHILA AGENCIES</h1>
<div class="container">
  <div class="row">
      <a routerLink="fill-details" routerLinkActive="active"><button class="btn btn-success btn-lg">Fill Details</button></a>
  </div>
  <!-- <div class="row">
    <a routerLink="view-update-delete" routerLinkActive="active"><button class="btn btn-warning btn-lg">View & Update/Delete</button></a>
  </div> -->
  <div class="row">
    <a routerLink="Excel" routerLinkActive="active"><button class="btn btn-info btn-lg">Excel Sheets</button></a>
  </div>
</div>
<router-outlet></router-outlet>
